<h1> Create a New Recipe </h1>
 <%= form_for @recipe do |f| %>
 <%= f.label :name %>
 <%= f.text_field :name %><br /><br />
 <% @ingredients.each do |ingredient| %>
   <%= check_box_tag "recipe[ingredient_ids][]", ingredient.id, checked = false, id: ingredient.id %><%= ingredient.name %>
 <% end %>
  <%= f.submit %>

  <% end %>
